<!DOCTYPE html>
<html>
<head>
  <title>Angular</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="01.js"></script>
  
  <style type="text/css">
    .centertext{
      text-align: center;
    }
  </style>

</head>
<body class="container" ng-app="app">
<div class="jumbotron centertext"> <h2 > <b> Sup  you beautiful Bastards</b></h2></div>

<div class="col-sm-4">
  <div class="panel panel-primary" ng-controller="emp">
    <div class="panel-heading">
      Angular Window
    </div>
    <div class="panel-body">
      <p>  Value of a = {{a}} </p>
      <p>  Value of b = {{b}} <br> <input class="form-control input-lg" ng-model="b" /> </p>
      <p>  <button class="btn btn-primary" ng-click="changeA()">ChangeA</button> </p>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <div class="panel panel-primary" ng-controller="emp">
    <div class="panel-heading">
      Angular Directive
    </div>
    <div message class="panel-body">
    </div>
  </div>
</div>
</body>
</html>